<div class="container-fluid">

  <div class="row row-offcanvas row-offcanvas-left">

    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Add a Repository</a></li>
        <br>
        <div ng-controller="ReposCtrl" >
          <input type="text" ng-model="user" placeholder="Github username...">
          <input type="text" ng-model="repo" placeholder="Github repo...">
          <a href="#" ng-click="search(user,repo)">Pull User Data</a>
        </div>

      </ul>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="">Nav item again</a></li>
        <li></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li ><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul>

    </div><!--/span-->

    <div class="col-sm-9 col-md-10 main">
      <h1 class="page-header">
        HyperHub
      </h1>

      <div class="row">
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <div ng-controller="pieChartCtrl" class="center-block">
            <nvd3 options="options" data="data"></nvd3>
          </div>
          <h4>Stars</h4>
          <span class="text-muted"></span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <div ng-controller="pieChartCtrl" class="center-block">
            <nvd3 options="options" data="data"></nvd3>
          </div>
          <h4>Pie-Graph 1</h4>
          <span class="text-muted">Forks</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <div ng-controller="pieChartCtrl" class="center-block">
            <nvd3 options="options" data="data"></nvd3>
          </div>
          <h4>Pie-Graph 1</h4>
          <span class="text-muted">Size</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <div ng-controller="pieChartCtrl" class="center-block">
            <nvd3 options="options" data="data"></nvd3>
          </div>
          <h4>Open Issues</h4>
          <span class="text-muted">Popular Repos Today - forks</span>
        </div>

      </div><!--/row-->

          <hr>

          <h2 class="sub-header">Section title</h2>
            <div ng-controller="ReposCtrl">
              <nvd3-multi-bar-chart
                data="exampleData"
                id="exampleId"
                xAxisTickFormat="xAxisTickFormatFunction()"
                width="1000"
                height="350"
                showXAxis="false"
                showYAxis="true">
                <svg></svg>
              </nvd3-multi-bar-chart>
            </div>


    </div><!--/row-->
  </div>

</div><!--/.container-->

<footer>
  <p class="pull-right"><a href="http://www.github.com/treyx">Trey Tomlinson</a> &nbsp; Extra Text</p>
</footer>



