<div class="container-fluid" ng-controller="ReposCtrl">

  <div class="row row-offcanvas row-offcanvas-left">

    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation"  ng-hide="hideSidebar">

      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Add a Repository</a></li>
        <br>

        <div class="form-group">
          <input type="text" class="form-control" ng-model="user" placeholder="Github username...">
          <input type="text" class="form-control" ng-model="repo" placeholder="Github repo...">
          <li><a href="#" ng-click="searchCommits(user,repo); searchRepo(user,repo)">Pull User Data</a></li>
        </div>

      </ul>

      <ul class="nav nav-sidebar">
        <li class="active"><a href="">Repositories</a></li>
        <li></li>
      </ul>

      <ul class="nav nav-sidebar">
        <div ng-repeat="fork in forks">
          <li class="angular-link"><a href="">{{fork.key}}</a></li>
        </div>
      </ul>

    </div><!--/span-->

    <div class="col-sm-9 col-md-10 main">
      <h1 class="page-header">
        HyperHub
      </h1>

      <div class="row">
        <div class="col-xs-6 col-sm-3 text-center">
            <nvd3 options="pieOptions" data="stars" ></nvd3>
            <h4>Stars</h4>
            <span class="text-muted"></span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
            <nvd3 options="pieOptions" data="forks"></nvd3>
            <h4>Pie-Graph 1</h4>
            <span class="text-muted">Forks</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
            <nvd3 options="pieOptions" data="size"></nvd3>
            <h4>Pie-Graph 1</h4>
            <span class="text-muted">Size</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
            <nvd3 options="pieOptions" data="issues"></nvd3>
            <h4>Open Issues</h4>
            <span class="text-muted">Popular Repos Today - forks</span>
        </div>

      </div><!--/row-->

          <hr>
          <h2 class="sub-header">Section title</h2>

          <nvd3 options="barOptions" data="commitHistory" ></nvd3>
    </div><!--/row-->
  </div>

</div><!--/.container-->

<footer>
<a href ng-click="hideSidebar = !hideSidebar">Hide Sidebar</a>
  <p class="pull-right"><a href="http://www.github.com/treyx">Trey Tomlinson</a> &nbsp; Extra Text</p>
</footer>





