<div class="container-fluid" ng-controller="ReposCtrl">

  <div class="row row-offcanvas row-offcanvas-left">

    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation"  ng-hide="hideSidebar">

      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Add a Repository</a></li>
        <br>

          <input type="text" ng-model="user" placeholder="Github username...">
          <input type="text" ng-model="repo" placeholder="Github repo...">
          <li><a href="#" ng-click="searchRepo(user,repo)">Pull User Data</a></li>

      </ul>

      <ul class="nav nav-sidebar">
        <li class="active"><a href="">Repositories</a></li>
        <li></li>
        <li><a href="{{repos.html_url}}">Repo: {{repos.name}}</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
      </ul>

      <ul class="nav nav-sidebar">
        <li ><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul>

    </div><!--/span-->

    <div class="col-sm-9 col-md-10 main">
      <h1 class="page-header">
        HyperHub
      </h1>

      <div class="row">
        <div class="col-xs-6 col-sm-3 placeholder text-center">
         <div ng-controller="pieChartCtrl" class="center-block">
            <nvd3 options="pieOptions" data="stars"></nvd3>
          </div>

          <h4>Stars</h4>
          <span class="text-muted"></span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <div ng-controller="pieChartCtrl" class="center-block">
            <nvd3 options="pieOptions" data="forks"></nvd3>
          </div>
          <h4>Pie-Graph 1</h4>
          <span class="text-muted">Forks</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <div ng-controller="pieChartCtrl" class="center-block">
            <nvd3 options="pieOptions" data="size"></nvd3>
          </div>
          <h4>Pie-Graph 1</h4>
          <span class="text-muted">Size</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
          <div ng-controller="pieChartCtrl" class="center-block">
            <nvd3 options="pieOptions" data="issues"></nvd3>
          </div>
          <h4>Open Issues</h4>
          <span class="text-muted">Popular Repos Today - forks</span>
        </div>

      </div><!--/row-->


          <hr>
          <h2 class="sub-header">Section title</h2>

        {{forks}}
        {{issues}}





    </div><!--/row-->
  </div>

</div><!--/.container-->

<footer>
<a href ng-click="hideSidebar = !hideSidebar">Hide Sidebar</a>
  <p class="pull-right"><a href="http://www.github.com/treyx">Trey Tomlinson</a> &nbsp; Extra Text</p>
</footer>




