<div class="container-fluid" ng-controller="ReposCtrl">

  <div class="row row-offcanvas row-offcanvas-left">

    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation"  ng-hide="hideSidebar">

      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Add a Repository</a></li>
        <br>

        <div class="form-group">
          <input type="text" class="form-control" ng-model="user" placeholder="Repo Owner...">
          <input type="text" class="form-control" ng-model="repo" placeholder="Repo Name...">
        </div>
        <li><a href="#" ng-click="searchCommits(user,repo); searchRepo(user,repo)">Pull Repo Data</a></li>

      </ul>

      <ul class="nav nav-sidebar">
        <li class="active"><a href="">Repositories</a></li>
        <li></li>
      </ul>

      <ul class="nav nav-sidebar">
        <div ng-repeat="fork in forks">
          <li class="angular-link"><a href="">{{fork.key}}</a></li>
        </div>
      </ul>

    </div><!--/span-->

    <div class="col-sm-9 col-md-10 main">
      <h1 class="page-header">
        HyperHub
      </h1>

      <div class="row" >
        <div class="col-xs-6 col-sm-3 text-center">
            <nvd3 options="pieOptions" data="stars" ></nvd3>
            <h4 ng-show="forks.length">Stars</h4>
            <span class="text-muted"></span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
            <nvd3 options="pieOptions" data="forks"></nvd3>
            <h4 ng-show="forks.length">Forks</h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
            <nvd3 options="pieOptions" data="size"></nvd3>
            <h4 ng-show="forks.length">Project Size</h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder text-center">
            <nvd3 options="pieOptions" data="issues"></nvd3>
            <h4 ng-show="forks.length">Open Issues</h4>
        </div>

      </div><!--/row-->

          <hr>
          <h2 class="sub-header text-center">Commits in Last Year</h2>
          <br>
          <nvd3 options="barOptions" data="commitHistory"></nvd3>
    </div><!--/row-->
  </div>

</div><!--/.container-->

<footer>
  <p class="pull-right"><a href="http://www.github.com/treyx">Trey Tomlinson</a></p>
</footer>





