---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/treyx/hyperhub
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '53'
      x-ratelimit-reset:
      - '1430800468'
      last-modified:
      - Sun, 03 May 2015 03:16:37 GMT
      etag:
      - W/"19e6ed243a2cd6d88dbaca9e779e2d0a"
      x-github-media-type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":34280870,"name":"hyperhub","full_name":"treyx/hyperhub","owner":{"login":"treyx","id":9888146,"avatar_url":"https://avatars.githubusercontent.com/u/9888146?v=3","gravatar_id":"","url":"https://api.github.com/users/treyx","html_url":"https://github.com/treyx","followers_url":"https://api.github.com/users/treyx/followers","following_url":"https://api.github.com/users/treyx/following{/other_user}","gists_url":"https://api.github.com/users/treyx/gists{/gist_id}","starred_url":"https://api.github.com/users/treyx/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/treyx/subscriptions","organizations_url":"https://api.github.com/users/treyx/orgs","repos_url":"https://api.github.com/users/treyx/repos","events_url":"https://api.github.com/users/treyx/events{/privacy}","received_events_url":"https://api.github.com/users/treyx/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/treyx/hyperhub","description":"","fork":false,"url":"https://api.github.com/repos/treyx/hyperhub","forks_url":"https://api.github.com/repos/treyx/hyperhub/forks","keys_url":"https://api.github.com/repos/treyx/hyperhub/keys{/key_id}","collaborators_url":"https://api.github.com/repos/treyx/hyperhub/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/treyx/hyperhub/teams","hooks_url":"https://api.github.com/repos/treyx/hyperhub/hooks","issue_events_url":"https://api.github.com/repos/treyx/hyperhub/issues/events{/number}","events_url":"https://api.github.com/repos/treyx/hyperhub/events","assignees_url":"https://api.github.com/repos/treyx/hyperhub/assignees{/user}","branches_url":"https://api.github.com/repos/treyx/hyperhub/branches{/branch}","tags_url":"https://api.github.com/repos/treyx/hyperhub/tags","blobs_url":"https://api.github.com/repos/treyx/hyperhub/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/treyx/hyperhub/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/treyx/hyperhub/git/refs{/sha}","trees_url":"https://api.github.com/repos/treyx/hyperhub/git/trees{/sha}","statuses_url":"https://api.github.com/repos/treyx/hyperhub/statuses/{sha}","languages_url":"https://api.github.com/repos/treyx/hyperhub/languages","stargazers_url":"https://api.github.com/repos/treyx/hyperhub/stargazers","contributors_url":"https://api.github.com/repos/treyx/hyperhub/contributors","subscribers_url":"https://api.github.com/repos/treyx/hyperhub/subscribers","subscription_url":"https://api.github.com/repos/treyx/hyperhub/subscription","commits_url":"https://api.github.com/repos/treyx/hyperhub/commits{/sha}","git_commits_url":"https://api.github.com/repos/treyx/hyperhub/git/commits{/sha}","comments_url":"https://api.github.com/repos/treyx/hyperhub/comments{/number}","issue_comment_url":"https://api.github.com/repos/treyx/hyperhub/issues/comments{/number}","contents_url":"https://api.github.com/repos/treyx/hyperhub/contents/{+path}","compare_url":"https://api.github.com/repos/treyx/hyperhub/compare/{base}...{head}","merges_url":"https://api.github.com/repos/treyx/hyperhub/merges","archive_url":"https://api.github.com/repos/treyx/hyperhub/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/treyx/hyperhub/downloads","issues_url":"https://api.github.com/repos/treyx/hyperhub/issues{/number}","pulls_url":"https://api.github.com/repos/treyx/hyperhub/pulls{/number}","milestones_url":"https://api.github.com/repos/treyx/hyperhub/milestones{/number}","notifications_url":"https://api.github.com/repos/treyx/hyperhub/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/treyx/hyperhub/labels{/name}","releases_url":"https://api.github.com/repos/treyx/hyperhub/releases{/id}","created_at":"2015-04-20T19:13:53Z","updated_at":"2015-05-03T03:16:37Z","pushed_at":"2015-05-05T03:34:32Z","git_url":"git://github.com/treyx/hyperhub.git","ssh_url":"git@github.com:treyx/hyperhub.git","clone_url":"https://github.com/treyx/hyperhub.git","svn_url":"https://github.com/treyx/hyperhub","homepage":"https://hyperhub.herokuapp.com/","size":652,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":1,"default_branch":"master","network_count":0,"subscribers_count":1}'
  recorded_at: Tue, 05 May 2015 03:51:26 GMT
recorded_with: VCR 2.9.3
